USE [TwitterApp]
GO

SELECT TOP (10) 
	[t0].[Id], 
	[t0].[Text], 
	[t0].[CreatedDate], 
	[t0].[RetweetCount], 
	[t0].[AuthorId], 
	[t1].[UserName] AS [AuthorUserName], 
	[t1].[UserScreenName] AS [AuthorUserScreenName]
FROM [Posts] AS [t0]
INNER JOIN [Users] AS [t1] ON [t1].[Id] = [t0].[AuthorId]
ORDER BY [t0].[CreatedDate] DESC
